<section>
    <p>Written On: March 21, 2015</p>
    <p>
      <img src="http://www.kitchenandtable.se/UserUploadImages/siteImg/kitchenAndTableBlackboard.jpg" />
    </p>
    <p>
      As a student at the University of Wisconsin-Madison studying Civil Engineering, hard work and perserverance is not a foreign concept to me. I have had many experiences throughout college where I have fought with myself and my emotions and contemplated changing majors, transferrings schools, etc. The important part is that I kept with it and never gave up, and that was the best decision I could have made. I am incredibly excited to work with students at DBC because I love working with large groups of people and even though my tech background is limited, I believe that my strongest asset is group work and emotional intelligence.
    </p>
    <p>
        My expectations coming into DBC were a lot different than they are now. I did not think that the program was going to be as intense as it currently is, and I know that I will struggle through the first few weeks especially when trying to balance schoolwork and DBC work. However, after having completed week 1, I have noticed that a lot of the challenges become addictive and fun, which is more than I can say for some of the homework assignments my classwork provide. I am excited to push myself yet again in a completely different atmosphere with a completely different and diverse group of people. It will be difficult, there is not doubt in my mind about that...but I know that I will be a better person in all aspects when I finish. Let's do this!
    </p>
</section>
