<section>
  <p>
    <img src="http://upload.wikimedia.org/wikipedia/commons/0/00/Brain_power.jpg" />
  </p>
  <p>
    My Gregorc Thinking Style is abstract random, which essentially means I am a people person who loves to work in groups and have several opinions heard. I believe that this is an asset that I can bring to DBC because of the growing stigma that programmers are people who do not get along with others and are extremely introverted. I think DBC does a great job in informing students that emotional intelligence is just as important, if not more important, than IQ. Computer programming has becoming a group activity over the course of many years and people are learning that different perspectives make code easier to understand, interpret, and fix.
  </p>
  <p>
    The biggest struggle for me at this point in Phase 0 is time management. This might have something to do with the fact that my Gregorc thinking style says that AR people have trouble focusing on one thing at a time. Although I am able to work on challenges one at a time, I do find it extremely difficult to balance both schoolwork and DBC work. I am learning to set aside time for both and am certainly becoming better at it, but it's still a work in progress.
  </p>
  <p>
    I believe that the idea of being able to work in groups is a great and valuable skill. I do not want to lose that, but I do want to build on  it. I want to be able to work with all different types of people. Arguments and conflicts will inevitably arise, but I want to be able to deal with those in actionable, kind and specific ways.
    I believe that DBC pairing sessions and on-site work will help me improve on these skills. </p>
</section>