<div class="container">
  <div class="row">
    <div class="col s3">
      <p></p>
    </div>
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10550039_10154489796810153_3560229349509867831_o.jpg" alt="" style="width:100%">
          <span class="card-title">About Karan</span>
        </div>
        <div class="card-content">
          <p>
            I'm passionate about working with people and learning from others. As an engineering student I realized that I wanted to be involved in a world where technical meets social. I dove into web development to continue expanding my horizons both as an engineer and as a human being.
          </p>
        </div>
      </div>
    </div>
    <div class="col s3">
      <p></p>
    </div>
  </div>
</div>
