<div class="container">
  <div class="row">
    <div class="m6">
      <div class="hide-on-large-only">
        <a href="https://github.com/karanaditya993"><i class="fa fa-github fa-2x" area-hidden="true"></i></a>
        <a href="https://twitter.com/karanaditya993"><i class="fa fa-twitter fa-2x" area-hidden="true"></i></a>
        <a href="https://linkedin.com/in/karanaditya993"><i class="fa fa-linkedin fa-2x" area-hidden="true"></i></a>
        <a href="https://plus.google.com/+KaranAditya993"><i class="fa fa-google-plus fa-2x" area-hidden="true"></i></a>
      </div>
    </div>
    <div class="col s12 m6">
      <h2>Send e-mail to Karan Aditya:</h2>

      <form action="MAILTO:karanaditya993@gmail.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name" placeholder="Your Name"><br>
      E-mail:<br>
      <input type="text" name="mail" placeholder="Your Email"><br>
      Comment:<br>
      <input type="text" name="comment" placeholder="Your omment" size="50"><br><br>
      <input type="submit" value="Send" class="btn">
      <input type="reset" value="Reset" class="btn">
    </div>
  </div>
</div>