<!-- <div class="container">
  <div class="row">
    <div class="col s3 m3 debug">
      <a href="/tech_posts" class="waves-effect waves-light btn-large">Technical Blog</a>
    </div>
    <div class="col s3 m3 debug">
      <a href="/cul_posts" class="waves-effect waves-light btn-large">Cultural Blog</a>
    </div>
    <div class="col s3 m3 debug">
      <a href="/about" class="waves-effect waves-light btn-large">About Me</a>
    </div>
    <div class="col s3 m3 debug">
      <a href="/contact" class="waves-effect waves-light btn-large">Contact</a>
    </div>
  </div>
</div> -->