<div class="container">
  <div class="button">
    <a class="waves-effect waves-light btn-large">Technical</a>
    <a class="waves-effect waves-light btn-large">Cultural</a>
    <a class="waves-effect waves-light btn-large">About Me</a>
  </div>
</div>