<div class="container">
  <div class="button">
    <a href="/tech_posts" class="waves-effect waves-light btn-large">Technical Blog</a>
    <a href="/cul_posts" class="waves-effect waves-light btn-large">Cultural Blog</a>
    <a href="/about" class="waves-effect waves-light btn-large">About Me</a>
    <a href="/contact" class="waves-effect waves-light btn-large">Contact</a>
  </div>
</div>