/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   box-sizing: border-box;
}
 *, *:before, *:after {
   box-sizing: inherit;
}

.debug{
  border: 1px solid red;
}

body{
  background-image: url("https://download.unsplash.com/5/unsplash-bonus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  text-align: center;
  margin-top: 45%;
}

.waves-effect.waves-light {
  background-color: #532B16;
  color: #B56C47;
  font-family: 'Shadows Into Light', cursive;
  font-style: bold;
  font-size: 2em;
}

.waves-effect.waves-light:hover {
  background-color: #B56C47;
  color: #532B16;
}

.fa {
  color: #FFFFFF;
}

.fa:hover {
  color: #0099CC;
}

.sidebar {
  position: absolute;
  top: 0;
}

i {
  padding: 10px;
}