/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   box-sizing: border-box;
}
 *, *:before, *:after {
   box-sizing: inherit;
}

.row .col {
  padding-right: 0px;
  padding-left: 0px;
}

.debug{
  border: 1px solid red;
  padding: 0px;
}

.nav-wrapper {
  background-color: #1A6767;
}

body {
  font-family: Georgia, Times, serif;
  /* Location of the image */
  background-image: url("https://download.unsplash.com/5/unsplash-bonus.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
}

.waves-effect.waves-light {
  font-family: 'Shadows Into Light', cursive;
  background-color: #532B16;
  color: #B56C47;
  width: 100%;
}

.waves-effect.waves-light:hover {
  background-color: #B56C47;
  color: #532B16;
}

.fa {
  color: #FFFFFF;
}

.fa:hover {
  color: #0099CC;
}

.sidebar {
  position: absolute;
  top: 0;
  padding-top: 50px;
}

i {
  padding: 10px;
}

.home-button {
  font-size: 1.5em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

blockquote {
  float: right;
  width: 275px;
  font-size: 130%;
  font-family: Georgia, Times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top:  1px solid #665544;
  border-bottom: 1px solid #665544;
}