<section>
  <p><img src="http://i2.kym-cdn.com/photos/images/facebook/000/003/364/I_m12YearsOld.jpg"/></p>
  <p>Many programmers familiarizing themselves with Ruby will come across a ruby construct known as a module. To many of these people, they will automatically make a connection between modules and classes. Most will wrongfully make these two synonomous with one another...but this is WRONG! Ruby classes and modules are not the same thing...and here are some of their differences:</p>
    <ul>
      <li>Modules consist of methods, constants, and classes whereas Classes consist of methods, constants, and variables.</li>
      <li>The types of methods are different: class methods in classes and module methods in modules</li>
      <li>Classes require instantiation whereas modules do not</li>
    </ul>
  <p>Essentially, modules deal with functions and are about providing methods one can use across multiple classes. Classes are about variables that you can use across multiple methods.</p>
</section>