<section>
  <p>Written On: March 29, 2015</p>
  <p>
    When writing in CSS, one must understand that the code written in that platform allows for broad-scale manipulation of code written in the HTML platform. That is to say: what you write in the CSS platform can have an effect on a large section or portion of the HTML code section that it is linked to. This blog post focuses on one aspect of CSS code that changes the positioning of certain objects and elements: margins, padding and borders.
  </p>
  <p>
    The simple difference between margins, padding and borders can be seen in the image below:</br>
    <img src = "http://www.w3schools.com/css/box-model.gif" /></br>
    As told by stackoverflow,padding is the space between the content and the border while margin is the space outside the border.Margin is applied to the outside of the element and determines how far your element is away from other elements. Padding shows how far your element is away from its border (if there is one).</br>
</section>