<section>
  <p>Written On: March 21, 2015</p>
  <blockquote>Developers use version control to keep track of changes they make to their code.</blockquote>
  <p>
    Writing code may seem like a daunting task to even the most experienced of computer programmers. With pages and pages of what appears to be symbols and letters, it is extremely difficult to keep track of all of the information, and incredibly frustrating to fix a problem. Version control, in the simplest of terms, keeps track of the changes you make to a file. It allows for different members of a team working on the same project to see what has been changed, what needs to be changed, and who has done changes. This prevents other people from changing code that does not need to be changed, or even worse, deleting code all together.
  </p>
  <p>
      Github is the online forum that most programmers use today. They post their code and changes they have made to their code to this online forum for others to see and potentially fix. Git is the program that allows users to do this. With git, users can change the information on their local files and then transfer that information to online forums where the world can see it. Git is an extremely useful tool for programmers because it allows for different perspective on code and helps coders and programmers understand where they have gone wrong with the help of other's around the world.
  </p>
</section>
