<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">check circle</i>Version Control</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/version_control' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">build</i>Design</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/design' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">fullscreen</i>Arrays & Hashes</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/arrays_hashes' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">exposure plus one</i>Enumerable Methods</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/enumerable_methods' %>
      </div>
    </li>
  </ul>
</div>