<div class="ui grid container">
  <div class="four wide column">
    <a href="#" class="menu">
      <i class="sidebar icon">Menu</i>
    </a>
  </div>
</div>

<div class="ui sidebar">
  <a class="item">Home</a>
  <a class="item">About</a>
  <a class="item">Contact</a>
  <a class="item">Technical Blog Posts</a>
  <a class="item">Cultural Blog Posts</a>
</div>

<!-- <div class="nav">
  <ul class="left hide-on-med-and-down">
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
  <ul class="right hide-on-med-and-down">
    <li><a href="/tech_posts">Technical Blog Posts</a></li>
    <li><a href="/cul_posts">Cultural Blog Posts</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/tech_posts">Technical Blog Posts</a></li>
    <li><a href="/cul_posts">Cultural Blog Posts</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <a href="" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>
 -->