<!DOCTYPE html>
<html>
<head>
  <title>Techtalkblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="header"></div>
  <%= yield %>
  <div class="sidebar">
    <ul>
      <li><a href="https://github.com/karanaditya993"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://twitter.com/karanaditya993"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="https://linkedin.com/in/karanaditya993"><i class="fa fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://plus.google.com/+KaranAditya993"><i class="fa fa-google-plus fa-2x"></i></a></li>
    </ul>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.js"></script>
</html>
